{% extends "authentication/base_auth.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card border-primary col-md-6 mx-auto">
        <div class="card-header">Письмо с инструкциями по восстановлению пароля отправлено</div>
        <div class="card-body">
            <div class="row">
                {% if form.non_field_errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ form.non_field_errors.0 }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
                </div>
                {% endif %}
                <p>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты. Вы
                    должны получить ее в ближайшее время.</p>
                <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели правильный адрес электронной почты,
                    который вы использовали при регистрации на нашем сайте, и проверьте папку со спамом.</p>
                <div class="text-center">
                    <a href="{% url 'login' %}" class="btn btn-primary mx-auto mt-2">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}