{% extends "authentication/base_auth.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card border-primary col-md-6 mx-auto">
        <div class="card-header">Сброс пароля</div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    {% if form.non_field_errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ form.non_field_errors.0 }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
                    </div>
                    {% endif %}
                    <p>Забыли пароль? Введите свой адрес электронной почты, который был привязан к вашему аккаунту, и мы
                        вышлем вам инструкцию, как установить новый пароль.</p>
                    {{ form|crispy }}
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mx-auto">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}