{% extends 'base.html' %}

{% block extra_styles %}
<style>
    #price-range {
        border-radius: 10px;
    }

    #price-range .ui-slider-handle {
        outline: none;
    }

    #price-range .ui-slider-handle:active,
    #price-range .ui-slider-handle.ui-state-active {
        scale: 1.3;
    }

    #price-range .ui-slider-handle:first-of-type {
        border-radius: 5px;
        border: 2px solid #c52b6f;
        background: #e83283;
    }

    #price-range .ui-slider-handle:last-of-type {
        border-radius: 5px;
        border: 2px solid #c52b6f;
        background: #e83283;
    }


</style>
{% endblock extra_styles %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <!-- Фильтры -->
        <div class="accordion col-md-3 mb-3" id="filter-accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="filter-heading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#filter-collapse" aria-expanded="true" aria-controls="filter-collapse">
                        Фильтры
                    </button>
                </h2>
                <div id="filter-collapse" class="accordion-collapse collapse show" aria-labelledby="filter-heading"
                     data-bs-parent="#filter-accordion">
                    <div class="accordion-body">
                        <!-- Здесь размещать фильтры -->
                        <h5>Цена</h5>
                        <div class="row mb-1">
                            <div class="col">
                                <div id="price-range"></div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <label for="min-price">Мин:</label>
                                <input type="text" id="min-price" class="form-control">
                            </div>
                            <div class="col">
                                <label for="max-price">Макс:</label>
                                <input type="text" id="max-price" class="form-control">
                            </div>
                        </div>
                        <!-- Бренды продукта -->
                        <h5>Бренды продукта</h5>
                        <div class="form-check mb-2" style="max-height: 150px; overflow-y: auto;">
                            <div>
                                <input class="form-check-input" type="checkbox" value="brand1" id="brand1">
                                <label class="form-check-label" for="brand1">
                                    Бренд 1
                                </label>
                            </div>
                            <div>
                                <input class="form-check-input" type="checkbox" value="brand1" id="brand1">
                                <label class="form-check-label" for="brand1">
                                    Бренд 1
                                </label>
                            </div>
                            <div>
                                <input class="form-check-input" type="checkbox" value="brand1" id="brand1">
                                <label class="form-check-label" for="brand1">
                                    Бренд 1
                                </label>
                            </div>
                            <div>
                                <input class="form-check-input" type="checkbox" value="brand1" id="brand1">
                                <label class="form-check-label" for="brand1">
                                    Бренд 1
                                </label>
                            </div>
                            <div>
                                <input class="form-check-input" type="checkbox" value="brand1" id="brand1">
                                <label class="form-check-label" for="brand1">
                                    Бренд 1
                                </label>
                            </div>
                            <div>
                                <input class="form-check-input" type="checkbox" value="brand1" id="brand1">
                                <label class="form-check-label" for="brand1">
                                    Бренд 1
                                </label>
                            </div>
                            <div>
                                <input class="form-check-input" type="checkbox" value="brand1" id="brand1">
                                <label class="form-check-label" for="brand1">
                                    Бренд 1
                                </label>
                            </div>
                            <div>
                                <input class="form-check-input" type="checkbox" value="brand1" id="brand1">
                                <label class="form-check-label" for="brand1">
                                    Бренд 1
                                </label>
                            </div>
                            <div>
                                <input class="form-check-input" type="checkbox" value="brand1" id="brand1">
                                <label class="form-check-label" for="brand1">
                                    Бренд 1
                                </label>
                            </div>
                        </div>
                        <!-- Еще фильтры -->

                    </div>
                </div>
            </div>
        </div>

        <!-- Карточки мороженного -->
        <div class="col-md-9">
            <div class="row">
                {% for product in products %}
                <!-- Карточка 1 -->
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}"
                             style="border-radius: 10px 10px 0 0;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Цена: {{ product.price }} руб.</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary">Добавить в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}"
                             style="border-radius: 10px 10px 0 0;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Цена: {{ product.price }} руб.</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary">Добавить в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}"
                             style="border-radius: 10px 10px 0 0;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Цена: {{ product.price }} руб.</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary">Добавить в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}"
                             style="border-radius: 10px 10px 0 0;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Цена: {{ product.price }} руб.</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary">Добавить в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}"
                             style="border-radius: 10px 10px 0 0;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Цена: {{ product.price }} руб.</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary">Добавить в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}"
                             style="border-radius: 10px 10px 0 0;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Цена: {{ product.price }} руб.</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary">Добавить в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}"
                             style="border-radius: 10px 10px 0 0;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Цена: {{ product.price }} руб.</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary">Добавить в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}"
                             style="border-radius: 10px 10px 0 0;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Цена: {{ product.price }} руб.</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-primary">Добавить в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
    $(document).ready(function () {
        var priceRange = $("#price-range");
        var minPrice = $("#min-price");
        var maxPrice = $("#max-price");

        priceRange.slider({
            range: true,
            min: 0,
            max: 1000,
            values: [100, 800],
            slide: function (event, ui) {
                minPrice.val(ui.values[0]);
                maxPrice.val(ui.values[1]);
            }
        });

        // Установка начальных значений полей ввода
        minPrice.val(priceRange.slider("values", 0));
        maxPrice.val(priceRange.slider("values", 1));

        // Обработчики событий для полей ввода
        minPrice.on("change", function () {
            var newMin = minPrice.val();
            var currentMax = priceRange.slider("values", 1);
            if (newMin >= 0 && newMin < currentMax) {
                priceRange.slider("values", 0, newMin);
            }
        });

        maxPrice.on("change", function () {
            var currentMin = priceRange.slider("values", 0);
            var newMax = maxPrice.val();
            if (newMax > currentMin && newMax <= 1000) {
                priceRange.slider("values", 1, newMax);
            }
        });
    });


</script>
{% endblock extra_scripts %}