<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'catalog' %}">IceShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if current_url == '/catalog/' %}active{% endif %}" href="{% url 'catalog' %}">Каталог</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Профиль</a>
                    <div class="dropdown-menu mb-1">
                        {% if user.is_authenticated %}
                        <h6 class="dropdown-header">{{ user }}</h6>
                        <a class="dropdown-item" href="#">Настройки</a>
                        <div class="dropdown-divider"></div>
                        <button type="button" class="btn text-secondary" data-bs-toggle="modal" data-bs-target="#logoutConformationModal">
                            Выйти
                        </button>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'login' %}">Войти</a>
                        <a class="dropdown-item" href="{% url 'register' %}">Зарегистрироваться</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
            {% if request.path == '/catalog/' %}
            <form class="d-flex" method="GET" action="{% url 'catalog' %}">
                <input class="form-control me-2" type="search" name="query" placeholder="Найти...">
                <button class="btn btn-secondary my-sm-0" type="submit">Найти</button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>