<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'catalog' %}">IceShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if current_url == '/catalog/' %}active{% endif %}" href="{% url 'catalog' %}">Каталог</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Профиль</a>
                    <div class="dropdown-menu mb-1">
                        {% if user.is_authenticated %}
                        <h6 class="dropdown-header">{{ user }}</h6>
                        <a class="dropdown-item" href="#">Настройки</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item" data-bs-toggle="modal"
                           data-bs-target="#logoutConformationModal">Выйти</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'login' %}">Войти</a>
                        <a class="dropdown-item" href="{% url 'register' %}">Зарегистрироваться</a>
                        {% endif %}
                    </div>
                </li>
                {% if user.is_authenticated and user.email_is_verified %}
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center {% if current_url == '/orders/cart/' %}active{% endif %}" href="{% url 'cart' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-cart2" viewBox="0 0 16 16" style="margin-right: 3px;">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                        </svg> (<b><span id="cart-total">{{ cart_total }}</span> шт, <span id="cart-total-amount">{{ cart_total_amount }}</span>руб</b>)
                    </a>
                </li>
                {% endif %}
            </ul>
            {% if request.path == '/catalog/' %}
            <form class="d-flex" method="GET" action="{% url 'catalog' %}">
                <input class="form-control me-2" type="search" name="query" placeholder="Найти...">
                <button class="btn btn-secondary my-sm-0" type="submit">Найти</button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>